table {
  border: none !important;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 80%;
  table-layout: fixed;
  margin-left: auto; 
  margin-right:auto;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
table tr {
  border-bottom: 1px solid ;
  border-top: 1px solid;
  padding: .35em;
}
table th
{
  border-bottom: 3px solid ;
  border-top: 3px solid;
  padding: .35em;
}
table td {
  padding: .625em;
  text-align: center;
}
table th {
  font-size: .95em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.table-no-border tr
{
  border-bottom: none ;
  border-top: none;
  padding: .35em;
    
}

.table-no-border td
{
    font-size: 14px;
    padding: .625em;
    text-align: center;
}
@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table td:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}


.img-circle{
     border-radius: 50%;
     width:  200px;
     height: 200px;
     float : left;
     margin-right: 3px;
}